[Unit]
Description=Send calcurse notifications on startup
PartOf=graphical-session.target

[Service]
ExecStart=/home/smee/.local/bin/calnotify
Type=oneshot

[Install]
WantedBy=graphical-session.target
