[Unit]

Description=Sends calcurse notifications.

Documentation=https://github.com/darklord111/alarm-dots

[Service]

ExecStart=/home/smee/.local/bin/calnotify

Type=oneshot
