[Unit]

Description=Synchronize neomutt email with mailsync

Documentation=https://github.com/LukeSmithxyz/mutt-wizard

[Service]
Environment="NOTMUCH_CONFIG=/home/smee/.config/notmuch/notmuchrc"
Environment="PASSWORD_STORE_DIR=/home/smee/.local/share/pass"
ExecStart=/home/smee/.local/bin/mailsync 

Type=oneshot
