[Unit]

Description=Synchronize neomutt email with mailsync

Documentation=https://github.com/LukeSmithxyz/mutt-wizard

[Service]

ExecStart=/home/smee/.local/bin/mailsync 

Type=oneshot
