[Desktop Entry]
Comment[en_IN]=
Comment=
Exec=/usr/bin/mpv %U
GenericName[en_IN]=
GenericName=
Icon=audio-mp3
MimeType=
Name[en_IN]=Media Player
Name=Media Player
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
