[Desktop Entry]
Comment[en_IN]=
Comment=
Exec=MOZ_ENABLE_WAYLAND=1 /usr/bin/mullvad-browser %u
GenericName[en_IN]=
GenericName=
Icon=internet-web-browser
MimeType=
Name[en_IN]=Web browser
Name=Web browser
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
